<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
    <body>
    
    <% if user_signed_in? %>
        <%= render 'body' %>
    <% end %>
    </body>
</html>