
    <ul class = "check">
        <% @images.each do |image| %>
       <li> 
          <div class = "shape">
            <%= image_tag image.image, class: "p-shape"%>
            <p><%= link_to "view Image", image_path(image.image.id), class: 'btn btn-secondary streteched-link '%></p>
          </div>
       </li>
        <% end %>
    </ul>

