<div class = "row">
    <div class = "col-md-9">
        <div class = "card">
            <div class = "card-body p-2">
                <%= image_tag @image.image, class: 'd-block w-100'%>
            </div>
        </div>
    </div>

        <span class = "text-muted"><%= time_ago_in_words @image.created_at %> ago </span>
</div>